mat-card-header{
    background: #F3F3F3;
    height: 64px;
    flex-direction: row;
}
mat-card-header  mat-card-title {
    align-items: center;
    font-size: 20px;
    padding: 0 14px;
    padding-top:20px;
}
