.login-container{max-width: 600px; height: 100%; display: flex; align-items: center; justify-content: center; margin: 0 auto; }
.login-container form{width:100%;}
.login-container .mat-card{margin: 0; padding:55px;  border-radius: 0; -webkit-box-shadow:0 1px 10px 0px rgba(0, 0, 0, 0.12); -moz-box-shadow:0 1px 10px 0px rgba(0, 0, 0, 0.12); box-shadow:0 1px 10px 0px rgba(0, 0, 0, 0.12);}
.login-container .mat-card .mat-card-content{padding: 0; margin-bottom: 0;}

.login-container .title-header{margin-bottom: 60px;}
.login-container .title-header h1{margin:0 0 15px; color:#00bff3; font-size: 24px; font-weight: 400;}
.login-container .title-header .mat-card-title{ padding: 0; margin-bottom: 0;color:#000000; font-size: 24px; font-weight: 400; line-height: 1.7;}
.login-container .title-header .mat-card-subtitle{margin-bottom: 0; padding: 0; color: #000000; font-size: 14px;}

.login-container .mat-card .formfield{display: flex !important; align-items: center; width: 100%;}
.login-container .mat-card .formfield .form-control{padding:3px 0;}
.login-container .infoText{text-align: right; display: block; color: #00bff3; text-decoration:none; margin-bottom: 10px;}
.login-container .infoText:hover{opacity: 0.6; transition:all 0.5s ease;}
.login-container .mat-fab{width:80px; height: 80px; display: block; margin: 0 auto; box-shadow: none;}
.login-container .mat-fab .mat-icon{ color: #fff;}

.login-container .btn-section{display: flex; align-items: center; max-width: 200px; margin: 0 auto;}
.login-container .btn-section a{display: flex; justify-content: center; align-items: center;}
td-loading.ng-star-inserted{width:100% !important; display: block;}
.mat-fab .mat-primary{background-color: #00bff3;}
.loading-wrapper .login-container{height: 100vh;}
@media (max-width: 767px) {
    .login-container{max-width: calc(100% - 30px);}
    .login-container .mat-card{padding:40px;}
}