<div fxLayout="row" fxLayoutAlign="center center" >
    <mat-spinner *ngIf="loading">
      
    </mat-spinner>
  </div>
  
 <div fxLayout="column" fxLayoutAlign="center center" class="linkdiv" *ngIf="!employee.github_token">
  GitHub account not Assosiated.
  <!-- <div>
    <md-icon class="git-icon" mdTooltip="Connect to GitHub" (click)="redirectGitHub()">
      <img src="../../../../assets/icons/github.svg" class="git-icon">
    </md-icon>
  </div> -->
</div>

<ng-template [ngIf]="showRepos && gitHubRepos">
    <div fxLayout="row" fxLayoutAlign="start center" class="listHeading">
        <span class="listTitle">
          Repositories:
        </span>
      </div>
  <mat-list>
    <mat-list-item *ngFor="let repo of gitHubRepos" (click)="getRepoBranches(repo)" class="listItem">
      {{repo.name}}
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template [ngIf]="showBranches">
  <div fxLayout="row" fxLayoutAlign="start center" class="listHeading">
    <mat-icon (click)="navigateToRepos()">
      keyboard_arrow_left
    </mat-icon>
    <span class="listTitle">
      Repository Branches:
    </span>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let branch of githubBranches" (click)="getRepoCommits(branch)" class="listItem">
      {{branch.name}}

    </mat-list-item>
  </mat-list>
</ng-template>


<ng-template [ngIf]="showCommits">
  <div fxLayout="row" fxLayoutAlign="start center" class="listHeading">
    <mat-icon (click)="navigateToBranches()">
      keyboard_arrow_left
    </mat-icon>
    <span class="listTitle">
      Commits:
    </span>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let commit of commits" class="commits">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="commitDiv">
        <div>
          <p>{{commit.commit.message}}</p>
          <p>{{commit.commit.committer.name}} committed {{commit.commit.committer.date | timeAgo}}</p>
        </div>

        <div>
          <p>{{commit.short_id}}</p>
        </div>
      </div>

    </mat-list-item>

  </mat-list>
</ng-template>