<div class="loading-wrapper" *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
    <div class="login-container">
        <form name="userForm" (ngSubmit)="onSubmit();" #ForgotForm="ngForm">
            <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                <div class="title-header">
                    <h1>GroupCaptain</h1>
                    <mat-card-title>Forgot Password</mat-card-title>
                    <mat-card-subtitle>Provide your email</mat-card-subtitle>
                </div>
                <mat-card-content>
                    <div layout="row">
                        <div class="formfield">
                            <mat-form-field flex>
                                <input matInput #email class="form-control" required="required" id="email" maxLength="35" name="email" #email="ngModel" [(ngModel)]="model.email"  ngControl="email" placeholder="Email Address" align="start">
                                <mat-hint align="start">
                                    <span [hidden]="true" class="tc-red-600">Required</span>
                                </mat-hint>
                                <mat-hint align="end"></mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div layout="row">
                        <mat-error [hidden]="errorMsg">
                            {{errorMsg}}
                        </mat-error>
                    </div>
                </mat-card-content>
                <mat-card-actions layout="row">
                    <div class="btn-section">
                        <a mat-raised-button mat-fab color="primary" [routerLink]="['/auth/login']">
                            <mat-icon>arrow_back</mat-icon>
                        </a>
                        <button type="submit" mat-raised-button mat-fab color="primary" [disabled]="!ForgotForm.form.valid">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>          
</div> 
