<div layout="column" layout-fill>
    <div class="mat-content" layout-padding flex>
        <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
            <div flex-gt-xs="50" flex-gt-ys="60">
                
                    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
    
                        <mat-card-content>
                            <div>{{description}}</div>
                            <div>{{errorMsg}}</div>
                        </mat-card-content>
                       
                    </mat-card>
             
            </div>
        </div>
    </div>
</div>