article {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
}

p {
    font-style: italic;
}

small {
    color: red;
}

mat-card.push-top-lg.mat-card {
    margin-top:100px;
}

/**
ToDo:Low (Remove this just for expermental purpose)
*/
.margin-20 {
    margin-top: 20px;
}