<div class="login-container">
    <form name="userForm" #ResetPassword="ngForm" novalidate (ngSubmit)="onSubmit(ResetPassword.value, ResetPassword.valid,model.password_reset_token)">
        <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
            <div class="title-header">
                <h1>GroupCaptain</h1>
                <mat-card-title>Reset Password</mat-card-title>
                <mat-card-subtitle>Provide your New password</mat-card-subtitle>
            </div>
            <mat-card-content>
                <div layout="row">
                    <mat-error [hidden]="errorMsg">
                        {{errorMsg}}
                    </mat-error>
                </div>
                <div layout="row">
                    <div class="formfield">
                        <mat-form-field flex>
                            <input matInput type="password" class="form-control" name="new_password" [ngModel]="model.new_password" required validateEqual="new_confirm_password"
                                reverse="true" #new_password="ngModel" placeholder="New Password" minlength="7" align="start">
                            <mat-error [hidden]="new_password.valid || (new_password.pristine && !ResetPassword.submitted)">
                                New Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div layout="row">
                    <div class="formfield">
                        <mat-form-field flex>
                            <input matInput type="password" class="form-control" name="confirm_new_password" [ngModel]="model.confirm_new_password"
                                required validateEqual="new_password" reverse="false" #confirm_new_password="ngModel"
                                placeholder="Confirm New Password" minlength="7" align="start">
                            <mat-error [hidden]="confirm_new_password.valid || (confirm_new_password.pristine && !ResetPassword.submitted)">
                                Password mismatch
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions layout="row">
                <div class="btn-section">
                    <a mat-raised-button mat-fab color="primary" [routerLink]="['/auth/login']"><mat-icon>arrow_back</mat-icon></a>
                    <button type="submit" mat-fab mat-raised-button color="primary" [disabled]="!ResetPassword.form.valid">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>

        <div class="margin-20" *ngIf="ResetPassword" hidden>
            <div>Form details:-</div>
            <pre>Is form valid?: <br>{{ResetPassword.valid | json}}</pre>
            <pre>Is form submitted?: <br>{{ResetPassword.submitted | json}}</pre>
            <pre>submitted value: <br>{{ResetPassword.value | json}}</pre>
        </div>
    </form>
</div>
            